* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center {
  display: flex;

  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.2%;
}
html,
body {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
header {
  padding: 20px 0;
}
.Logo {
  width: 50%;
}

nav {
  padding-top: 20px;
  width: 50%;
  text-align: right;
}

nav a {
  color: black;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
}

section.About {
  height: calc(100% - 140px);
  position: relative;
}

.extress {
  position: absolute;
  bottom: -500px;
  right: -600px;
  width: 1100px;
  height: 1090px;
  border-radius: 50%;
  background-color: #017143;
}

.sociais {
  position: absolute;
  right: 620px;
  top: 150px;
}

.sociais img {
  display: block;
  width: 20px;
  margin: 17px 0;
}

.text {
  margin-top: 60px;
}

.text h1 {
  font-size: 60px;
}

.text p {
  margin: 20px 0;
  color: black;
  font-size: 14px;
  font-weight: bold;
  max-width: 800px;
}
.text button {
  color: white;
  background-color: #017143;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

footer {
  position: absolute;
  right: 650px;
  top: 590px;
}
footer img {
  width: 80px;
}
